@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2014/12/30/08/11/parquet-583691_960_720.jpg");
  background-size: cover;
  background-repeat: repeat;
}
h1 {
  text-align: center;
  font-family: "Henny Penny", cursive;
  color: rgb(19, 53, 20);
  font-size: 2.5rem;
  margin-bottom: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgb(96, 145, 96);
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}
nav a:hover {
  color: rgba(230, 113, 36, 0.823);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 162);
  margin: 20px;
  box-shadow: 7px 5px 12px rgb(107, 103, 103);
  cursor: pointer;
  position: relative;
}
section h2 {
  color: rgb(96, 90, 90);
  text-align: center;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 2.5px;
  margin-top: 120px;
}
section h2 a {
  text-decoration: none;
  color: rgb(96, 90, 90);
  cursor: pointer;
}
section h2 a:hover {
  color: #ff9933;
}

.pin {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/12/14/10/pushpin-147918_960_720.png");
  background-size: cover;
  height: 65px;
  width: 70px;
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 10;
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fire {
  position: relative;
}
.animation {
  height: 50vh;
  /* margin-bottom: 150px; */
  /* background-color: pink; */
  /* position: absolute;
  bottom: 5px;
  left: 90px; */
  margin-bottom: 50px;
  text-align: center;
  z-index: 100;
}

.log {
  position: absolute;
  width: 140px;
  height: 20px;
  background-color: #5f4b3d;
  border: 1px solid rgba(71, 31, 31, 0.407);
  border-radius: 5px;
}
.log-left {
  transform: rotateZ(15deg);
  margin: -60px 0px 0px -60px;
}
.log-right {
  transform: rotateZ(-15deg);
  margin: -60px 0px 0px -60px;
}

footer {
  background-color: rgb(96, 145, 96);
  padding: 20px 0;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
footer a:hover {
  /* color: rgba(230, 113, 36, 0.823); */
  color: #ff9933;
}

@media screen and (min-width: 600px) {
  /* h1 {
    font-size: 4rem;
  } */
  nav {
    flex-direction: row;
  }
  nav a {
    font-size: 1.5rem;
  }
  main {
    flex-direction: row;
  }
  section {
    margin-left: 2rem;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
  }
}
/* @media screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }
} */
